In [31]:
import pandas as pd
import numpy as np
import json
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

## Задание 1

Открой файл [distances.ipynb](src/notebooks/distances.ipynb). 
* Объедини общие данные о фильмах [tmdb_5000_movies](https://files.sberdisk.ru/s/te4QbzdxKgsFQXA) и каст фильмов 
[tmdb_5000_credits](https://files.sberdisk.ru/s/H9oRuXQt5mFz3T9). 
* Оставь в датасете только фильмы, которые вышли в "релиз".
* Убери фильмы с пропусками в колонках ['overview', 'genres', 'keywords']
* Выведи количество фильмов, оставшихся в выборке

In [32]:
df_movies = pd.read_csv('../../datasets/tmdb_5000_movies.csv') 
df_credits = pd.read_csv('../../datasets/tmdb_5000_credits.csv') 
df_credits.rename(columns={'movie_id': 'id'}, inplace=True)
movies = df_movies.merge(df_credits,on='id')
movies = movies[(movies['status'] == 'Released') & (movies['overview'].isna()==False) & (movies['genres'].isna()==False) & (movies['keywords'].isna()==False)]
#movies=movies[movies['overview'].isna()==False]
#print(movies.isnull().sum())
print('Количество фильмов = ',movies.shape[0])

#новый столбец для фильтрации
movies['year'] = movies['release_date'].astype(str).str[:-6].fillna('')
movies['year']=movies['year'].replace('', 'нет данных о годе')
#print(movies['year'][movies['id']==380097])
movies

Количество фильмов =  4792

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew,year
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",2009
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",2007
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",2015
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",2012
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...",1992
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de...",2011
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de...",2013
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de...",2012
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de...",2005

## Задание 2

Реализуем алгоритм рекомендации на основе описания фильма (`overview`) и ключевых слов к фильму (`keywords`). 
Объедини тексты этих колонок и проведи предобработку:
* Замени NaN в описании фильма на пустой символ `''`
* Удали все английские стоп-слова (используй параметр `stop_words` в `TfidfVectorizer`)
* Рассчитай матрицу [Tf-Idf](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html) для описания фильмов.

Выведи размер получившейся матрицы
> Параметр `max_features` в `TfidfVectorizer` должен быть равен 10000

In [34]:
movies['keywords'].iloc[0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [35]:
#объедим выбранные текстовые поля описания фильма (overview) и ключевых слов к фильму (keywords)
movies['overview'].fillna('')

#в keywords у нас список словарей, выташим только теги, для этого напишем функцию 
def extract_tags(s):
    list_of_dict = json.loads(s)
    tags=[d["name"] for item in list_of_dict for d in (item if isinstance(item, list) else [item])]
    result = ", ".join(tags)
    return result

movies['keywords2'] = movies['keywords'].apply(extract_tags)
movies['full_description'] = movies[['overview', 'keywords2']].apply(lambda x: ' '.join(x.astype(str)), axis=1)
movies['full_description'].iloc[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. culture clash, future, space war, space colony, society, space travel, futuristic, romance, space, alien, tribe, alien planet, cgi, marine, soldier, battle, love affair, anti war, power relations, mind and soul, 3d'

In [36]:
vectorizer = TfidfVectorizer(stop_words = 'english', max_features=10000)
tfidf_matrix = vectorizer.fit_transform(movies['full_description'], )
feature_names = vectorizer.get_feature_names_out()
print('размерность матрицы', tfidf_matrix.shape)

размерность матрицы (4792, 10000)

## Задание 3

Рассчитай [cosine similarity](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.cosine_similarity.html) 
между фильмами. Составь из этой матрицы `pd.DataFrame`. Для дальнейшего удобства, 
колонки и индексы таблицы назови согласно`id` фильма. \
Сохрани получившийся `DataFrame` c расстояниями в папку [assets](src/assets) с названием `distance.csv`.
А сам объединенный датасет с фильмами сохрани в папку [assets](src/assets) с названием `movies.csv`.

> Получившиеся файлы `distance.csv` и `movies.csv` пушить в GitLab не нужно!

In [37]:
cosine_sim = linear_kernel(tfidf_matrix)
cosine_sim.shape
cos_sim_df = pd.DataFrame(cosine_sim, columns=movies['id'], index=movies['id'])
cos_sim_df

id,19995,285,206647,49026,49529,559,38757,99861,767,209112,...,182291,286939,124606,14337,67238,9367,72766,231617,126186,25975
id,,,,,,,,,,,,,,,,,,,,,
19995,1.000000,0.006698,0.000000,0.011519,0.193628,0.043216,0.008125,0.048032,0.000000,0.012418,...,0.000000,0.000000,0.017703,0.033747,0.000000,0.000000,0.0,0.004940,0.013178,0.000000
285,0.006698,1.000000,0.000000,0.014123,0.040554,0.023146,0.004609,0.014998,0.000000,0.000000,...,0.000000,0.000000,0.014527,0.000000,0.000000,0.009755,0.0,0.019802,0.000000,0.000000
206647,0.000000,0.000000,1.000000,0.018515,0.014561,0.014341,0.019677,0.047230,0.016920,0.006142,...,0.031525,0.000000,0.000000,0.000000,0.017365,0.014662,0.0,0.011729,0.000000,0.000000
49026,0.011519,0.014123,0.018515,1.000000,0.006272,0.024840,0.024703,0.040374,0.011192,0.226748,...,0.006161,0.000000,0.004955,0.018283,0.010281,0.000000,0.0,0.028046,0.035781,0.017660
49529,0.193628,0.040554,0.014561,0.006272,1.000000,0.020283,0.020632,0.056310,0.000000,0.014569,...,0.005251,0.000000,0.000000,0.010926,0.000000,0.000000,0.0,0.004216,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9367,0.000000,0.009755,0.014662,0.000000,0.000000,0.000000,0.000000,0.010251,0.020069,0.000000,...,0.000000,0.013357,0.000000,0.000000,0.003402,1.000000,0.0,0.000000,0.008597,0.000000
72766,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000
231617,0.004940,0.019802,0.011729,0.028046,0.004216,0.024502,0.000000,0.017785,0.022825,0.012889,...,0.005563,0.000000,0.015358,0.029665,0.000000,0.000000,0.0,1.000000,0.017167,0.024581
126186,0.013178,0.000000,0.000000,0.035781,0.000000,0.004516,0.008890,0.000000,0.032715,0.004455,...,0.000000,0.017001,0.000000,0.000000,0.000000,0.008597,0.0,0.017167,1.000000,0.012530
25975,0.000000,0.000000,0.000000,0.017660,0.000000,0.004213,0.005358,0.000000,0.073319,0.004157,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.024581,0.012530,1.000000

In [38]:
#способ2
from sklearn.metrics.pairwise import cosine_similarity

# Рассчитываем матрицу cosine similarity
cos_sim_matrix = cosine_similarity(tfidf_matrix)

# Создаем DataFrame с названиями колонок и индексов, соответствующими id фильмов
cos_sim_df2 = pd.DataFrame(cos_sim_matrix, columns=movies['id'], index=movies['id'])

In [39]:
(movies['original_title']==movies['title_x']).value_counts()

True     4531
False     261
Name: count, dtype: int64

In [40]:
(movies['title_y']==movies['title_x']).value_counts()
#следовательно, один столбец можно удалить

True    4792
Name: count, dtype: int64

In [41]:
#переназовем столбец title_x и удалим title_y
movies.rename(columns={'title_x': 'title'}, inplace=True)
movies.drop(columns = ['title_y'],axis = 1, inplace=True)
cos_sim_df = cos_sim_df.rename_axis('movie_id')
print(cos_sim_df.columns[0])

19995

In [43]:
cos_sim_df.to_csv (r'../assets/distance.csv', index= True)
movies.to_csv (r'../assets/movies.csv', index= False)

# Далее идет проверка функций,черновики

In [13]:
#проверяем, как работает
def get_recommendations(movies_dataset, title, cosine_sim, top_k=10):

    indices = pd.Series(movies_dataset.index, index=movies_dataset['title']) #connecting the rows in the sparse matrix with the titles (same rows)
    idx= indices[title]
# Получаем оценки сходство попарно
    sim_scores = list(enumerate(cosine_sim[idx]))
# Сортируем фильмы по показателям сходство
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
# Получите оценки за top_k наиболее похожих фильмов
    sim_scores = sim_scores[1:top_k + 1]
# Получить индексы фильмов
    movie_indices = [i[0] for i in sim_scores]
# Возвращает список лучших похожих фильмов
    return movies_dataset['title'].iloc[movie_indices]

In [21]:
#Проверка работы
aaa='''The Pirates! In an Adventure with Scientists!'''
get_recommendations(movies_dataset=movies, title=aaa, cosine_sim=cosine_sim,top_k = 5)

3820                                           The Pirate
199     Pirates of the Caribbean: The Curse of the Bla...
2590       VeggieTales: The Pirates Who Don't Do Anything
1709                         Space Pirate Captain Harlock
340                                      Cutthroat Island
Name: title, dtype: object

In [28]:
#проверка фильтрации
moviesfiltred=movies.copy()
moviesfiltred=moviesfiltred[moviesfiltred['genres'].astype(str).str.contains('Family')]
moviesfiltred=moviesfiltred[moviesfiltred['year'].astype(int)>=2015]
print(len(moviesfiltred))
moviesfiltred

27

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,status,tagline,title,vote_average,vote_count,cast,crew,year,keywords2,full_description
54,175000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 16, ""...",http://movies.disney.com/the-good-dinosaur,105864,"[{""id"": 1720, ""name"": ""tyrannosaurus rex""}, {""...",en,The Good Dinosaur,An epic journey into the world of dinosaurs wh...,51.692953,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,Released,Little Arms With Big Attitude,The Good Dinosaur,6.6,1736,"[{""cast_id"": 20, ""character"": ""Arlo (voice)"", ...","[{""credit_id"": ""52fe4a58c3a36847f81c8a07"", ""de...",2015,"tyrannosaurus rex, friends, alternate history,...",An epic journey into the world of dinosaurs wh...
77,175000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",http://movies.disney.com/inside-out,150540,"[{""id"": 1566, ""name"": ""dream""}, {""id"": 6513, ""...",en,Inside Out,"Growing up can be a bumpy road, and it's no ex...",128.655964,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,Released,Meet the little voices inside your head.,Inside Out,8.0,6560,"[{""cast_id"": 4, ""character"": ""Joy (voice)"", ""c...","[{""credit_id"": ""56098866c3a368681000003a"", ""de...",2015,"dream, cartoon, imaginary friend, animation, f...","Growing up can be a bumpy road, and it's no ex..."
78,175000000,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 12, ""...",http://movies.disney.com/the-jungle-book-2016,278927,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,The Jungle Book,After a threat from the tiger Shere Khan force...,94.199316,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,Released,NaN,The Jungle Book,6.7,2892,"[{""cast_id"": 12, ""character"": ""Mowgli"", ""credi...","[{""credit_id"": ""571507b692514105a80032f0"", ""de...",2016,"based on novel, snake, wolf, elephant, tiger, ...",After a threat from the tiger Shere Khan force...
87,190000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",http://movies.disney.com/tomorrowland,158852,"[{""id"": 1436, ""name"": ""inventor""}, {""id"": 1233...",en,Tomorrowland,"Bound by a shared destiny, a bright, optimisti...",130.311355,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,Released,Imagine a world where nothing is impossible.,Tomorrowland,6.2,2846,"[{""cast_id"": 17, ""character"": ""Casey Newton"", ...","[{""credit_id"": ""55bb85e6c3a36869b400723c"", ""de...",2015,"inventor, apocalypse, destiny, imax, dreamer, ...","Bound by a shared destiny, a bright, optimisti..."
143,150000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",NaN,266647,"[{""id"": 334, ""name"": ""flying""}, {""id"": 2343, ""...",en,Pan,Living a bleak existence at a London orphanage...,48.035280,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...",...,Released,Every legend has a beginning.,Pan,5.9,954,"[{""cast_id"": 9, ""character"": ""Peter Pan"", ""cre...","[{""credit_id"": ""57373a28925141136e003ec3"", ""de...",2015,"flying, magic, fairy tale, peter pan, mermaid,...",Living a bleak existence at a London orphanage...
152,145000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.kungfupanda.com/,140300,"[{""id"": 478, ""name"": ""china""}, {""id"": 779, ""na...",en,Kung Fu Panda 3,"Continuing his ""legendary adventures of awesom...",56.747978,"[{""name"": ""Twentieth Century Fox Film Corporat...",...,Released,Grab destiny by the rice dumplings.,Kung Fu Panda 3,6.7,1603,"[{""cast_id"": 4, ""character"": ""Po (voice)"", ""cr...","[{""credit_id"": ""596107c49251415a4008f021"", ""de...",2016,"china, martial arts, kung fu, village, panda, ...","Continuing his ""legendary adventures of awesom..."
175,140000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",http://movies.disney.com/the-bfg,267935,"[{""id"": 212, ""name"": ""london england""}, {""id"":...",en,The BFG,The BFG is no ordinary bone-crunching giant. H...,44.190920,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,Released,The world is more giant than you can imagine.,The BFG,6.0,1000,"[{""cast_id"": 4, ""character"": ""Sophie"", ""credit...","[{""credit_id"": ""58e014d39251415e7f00e4be"", ""de...",2016,"london england, england, based on novel, queen...",The BFG is no ordinary bone-crunching giant. H...
184,135000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 35, ""na...",http://www.meettheboov.com/,228161,"[{""id"": 6054, ""name"": ""friendship""}, {""id"": 98...",en,Home,When Earth is taken over by the overly-confide...,63.473086,"[{""name"": ""Twentieth Century Fox Film Corporat...",...,Released,Worlds Collide,Home,6.8,1519,"[{""cast_id"": 13, ""character"": ""Oh (voice)"", ""c...","[{""credit_id"": ""58d292e9c3a36873e2000157"", ""de...",2015,"friendship, spaceship, space, alien, alien inv...",When Earth is taken over by the overly-confide...
326,95000000,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 14, ...",http://movies.disney.com/cinderella,150689,"[{""id"": 995, ""name"": ""cinderella""}, {""id"": 234...",en,Cinderella,"When her father unexpectedly passes away, youn...",101.187052,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,Released,Midnight is just the beginning.,Cinderella,6.7,2374,"[{""cast_id"": 12, ""character"": ""Cinderella"", ""c...","[{""credit_id"": ""548083d49251416e81002c34"", ""de...",2015,"cinderella, magic, prince, fairy tale, kingdom...","When her father unexpectedly passes away, youn..."
359,0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 16, ""...",http://www.foxmovies.com/movies/alvin-and-the-...,258509,"[{""id"": 10986, ""name"": ""chipmunk""}, {""id"": 109...",en,Alvin and the Chipmunks: The Road Chip,"Through a series of misunderstandings, Alvin, ...",27.867368,"[{""name"": ""Regency Enterprises"", ""id"": 508}, {...",...,Released,Fast & furry-ous,Alvin and the Chipmunks: The Road Chip,5.8,428,"[{""cast_id"": 16, ""character"": ""Dave"", ""credit_...","[{""credit_id"": ""565c2c3f9251416919007486"", ""de...",2015,"chipmunk, cgi, talking animal, aftercreditssti...","Through a series of misunderstandings, Alvin, ..."
464,80000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 35, ""...",NaN,159824,"[{""id"": 272, ""name"": ""transylvania""}, {""id"": 6...",en,Hotel Transylvania 2,When the old-old-old-fashioned vampire Vlad ar...,61.692197,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,Released,They're back to raise a little terror,Hotel Transylvania 2,6.7,1497,"[{""cast_id"": 7, ""character"": ""Dracula (voice)""...","[{""credit_id"": ""52fe4c219251416c910f0d93"", ""de...",2015,"transylvania, hotel, witch, technology, magic,...",When the old-old-old-fashioned vampire Vlad ar...
504,75000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://www.thesecretlifeofpets.com/,328111,"[{""id"": 2551, ""name"": ""pet""}, {""id"": 3208, ""na...",en,The Secret Life of Pets,The quiet life of a terrier named Max is upend...,31.482872,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,Released,Think this is what they do all day?,The Secret Life of Pets,5.9,3462,"[{""cast_id"": 2, ""character"": ""Max (voice)"", ""c...","[{""credit_id"": ""5585f1a59251411dec00047a"", ""de...",2016,"pet, bunny, anthropomorphism, dog, animal, apa...",The quiet life of a terrier named Max is upend...
546,74000000,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 16, ""...",http://www.minionsmovie.com/,211672,"[{""id"": 3487, ""name"": ""assistant""}, {""id"": 179...",en,Minions,"Minions Stuart, Kevin and Bob are recruited by...",875.581305,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,Released,"Before Gru, they had a history of bad bosses",Minions,6.4,4571,"[{""cast_id"": 22, ""character"": ""Scarlet Overkil...","[{""credit_id"": ""5431b2b10e0a2656e20026c7"", ""de...",2015,"assistant, aftercreditsstinger, duringcreditss...","Minions Stuart, Kevin and Bob are recruited by..."
550,73000000,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 16, ""...",http://www.angrybirds-movie.com/en/,153518,"[{""id"": 2041, ""name"": ""island""}, {""id"": 2646, ...",en,The Angry Birds Movie,"An island populated entirely by happy, flightl...",45.720894,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,Released,Why so angry?,The Angry Birds Movie,5.9,1022,"[{""cast_id"": 8, ""character"": ""Red (voice)"", ""c...","[{""credit_id"": ""55258c23925141118a00059a"", ""de...",2016,"island, bird, pig, talking animal, based on vi...","An island populated entirely by happy, flightl..."
569,74000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 12, ""...",http://www.spongebobmovie.com/,228165,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 658, ""na...",en,The SpongeBob Movie: Sponge Out of Water,Burger Beard is a pirate who is in search of t...,36.952268,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,Released,He's leaving his world behind.,The SpongeBob Movie: Sponge Out of Water,5.8,719,"[{""cast_id"": 9, ""character"": ""SpongeBob / Gary...","[{""credit_id"": ""5910d192c3a368646b03a70e"", ""de...",2015,"ocean, sea, star, water, comedy, sponge, spong...",Burger Beard is a pirate who is in search of t...
1310,38000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",NaN,256961,"[{""id"": 6490, ""name"": ""shopping mall""}, {""id"":...",en,Paul Blart: Mall Cop 2,Security guard Paul Blart is headed to Las Veg...,41.258487,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,Released,Vegas has a new high roller.,Paul Blart: Mall Cop 2,5.0,567,"[{""cast_id"": 3, ""character"": ""Paul Blart"", ""cr...","[{""credit_id"": ""564b14ff9251417c46002926"", ""de...",2015,"shopping mall, las vegas, security guard",Security guard Paul Blart is headed to Las Veg...
2121,20000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,272878,"[{""id"": 3541, ""name"": ""afghanistan""}, {""id"": 6...",en,Max,A dog that helped soldiers in Afghanistan retu...,14.136476,"[{""name"": ""Sunswept Entertainment"", ""id"": 5219...",...,Released,Best Friend. Hero. Marine.,Max,6.8,276,"[{""cast_id"": 3, ""character"": ""Ray"", ""credit_id...","[{""credit_id"": ""5619d1a8925141222f0009ed"", ""de...",2015,"afghanistan, war, based on true story, rescue,...",A dog that helped soldiers in Afghanistan retu...
2325,18000000,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 35, ...",NaN,302688,"[{""id"": 10267, ""name"": ""comedy""}, {""id"": 13027...",en,My Big Fat Greek Wedding 2,The continuing adventures of the Portokalos fa...,16.027955,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,Released,People change. Greeks don't.,My Big Fat Greek Wedding 2,5.5,322,"[{""cast_id"": 2, ""character"": ""Ian Miller"", ""cr...","[{""credit_id"": ""576aff4bc3a36822bd0014f1"", ""de...",2016,"comedy, wedding",The continuing adventures of the Portokalos fa...
2351,17000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10751, ""...",http://www.cbsfilms.com/love-the-coopers/,333348,"[{""id"": 4498, ""name"": ""big family""}, {""id"": 10...",en,Love the Coopers,When four generations of the Cooper clan come ...,9.191187,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...",...,Released,"Christmas means comfort, joy and chaos.",Love the Coopers,5.4,167,"[{""cast_id"": 16, ""character"": ""Rags (voice)"", ...","[{""credit_id"": ""551863fdc3a36815520011cd"", ""de...",2015,"big family, family relationships, family, woma...",When four generations of the Cooper clan come ...
3013,65000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",http://movies.disney.com/petes-dragon-2016,294272,"[{""id"": 5650, ""name"": ""feral child""}, {""id"": 9...",en,Pete's Dragon,Pete is a mysterious 10-year-old with no famil...,31.974359,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,Released,Some secrets are too big to keep.,Pete's Dragon,6.2,679,"[{""cast_id"": 0, ""character"": ""Grace Meacham"", ...","[{""credit_id"": ""57a1c6c5c3a3680c69000f0f"", ""de...",2016,"feral child, remake, dragon, orphan, 1980s, li...",Pete is a mysterious 10-year-old with no famil...
3670,0,"[{""id"": 10751, ""name"": ""Family""}]",NaN,447027,[],en,Running Forever,After being estranged since her mother's death...,0.028756,"[{""name"": ""New Kingdom Pictures"", ""id"": 41671}]",...,Released,NaN,Running Forever,0.0,0,[],[],2015,,After being estranged since her mother's death...
4255,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10751, ""...",http://www.growingupsmithmovie.com,426469,[],en,Growing Up Smith,"In 1979, an Indian family moves to America wit...",0.710870,[],...,Released,It’s better to stand out than to fit in.,Growing Up Smith,7.4,7,"[{""cast_id"": 4, ""character"": ""Smith Bhatnagar""...","[{""credit_id"": ""582e0bdfc3a368772600b6c1"", ""de...",2017,,"In 1979, an Indian family moves to America wit..."
4354,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,361475,"[{""id"": 237, ""name"": ""gay""}]",en,Departure,An English mother and her teenage son spend a ...,0.425830,"[{""name"": ""British Film Institute (BFI)"", ""id""...",...,Released,NaN,Departure,7.5,12,"[{""cast_id"": 1, ""character"": ""Beatrice"", ""cred...","[{""credit_id"": ""5738808a92514166fe000077"", ""de...",2016,gay,An English mother and her teenage son spend a ...
4405,0,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 35, ""...",https://www.epicbuzz.net/movies/karachi-se-lahore,357441,[],en,Karachi se Lahore,A road trip from Karachi to Lahore where 5 fri...,0.060003,[],...,Released,NaN,Karachi se Lahore,8.0,1,"[{""cast_id"": 0, ""character"": """", ""credit_id"": ...",[],2015,,A road trip from Karachi to Lahore where 5 fri...
4560,0,"[{""id"": 10751, ""name"": ""Family""}]",NaN,379532,[],en,Rodeo Girl,Shipped off to her American dad's ranch for th...,0.087574,"[{""name"": ""Be Your Own Hollywood"", ""id"": 39706}]",...,Released,NaN,Rodeo Girl,5.5,1,"[{""cast_id"": 0, ""character"": ""Duke Williams"", ...","[{""credit_id"": ""58a3e925c3a3683963003b40"", ""de...",2016,,Shipped off to her American dad's ranch for th...
4601,350000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",NaN,371690,[],en,Rotor DR1,In a post-apocalyptic world where half the pop...,0.249561,"[{""name"": ""StoneKap Productions Ltd."", ""id"": 8...",...,Released,NaN,Rotor DR1,4.7,3,"[{""cast_id"": 14, ""character"": ""Kitch"", ""credit...","[{""credit_id"": ""580b615292514171a3001f82"", ""de...",2015,,In a post-apocalyptic world where half the pop...
4659,0,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 18, ""...",NaN,306667,"[{""id"": 2673, ""name"": ""horse""}, {""id"": 10809, ...",en,Horse Camp,What’s the matter with Kathy (Jordan Trovillio...,0.172299,"[{""name"": ""Be Your Own Hollywood"", ""id"": 39706}]",...,Released,The summer they'll never forget,Horse Camp,5.5,2,"[{""cast_id"": 2, ""character"": ""Kathy"", ""credit_...","[{""credit_id"": ""547880c3c3a36849bd000980"", ""de...",2015,"horse, teenage girl",What’s the matter with Kathy (Jordan Trovillio...

In [44]:
sorted=moviesfiltred['id'].tolist()

In [30]:
idx = int(movies[movies['title'] == '''Pirates of the Caribbean: At World's End'''].iloc[0]['id'])

print(idx)

distancefiltred=cos_sim_df.copy()
distancefiltred.index = distancefiltred.index.astype(int)
distancefiltred.columns = distancefiltred.columns.astype(int)
if idx in sorted:
            sorted.remove(idx)
print(type(sorted[0]))
sorted.append(idx)
print(len(distancefiltred.index))
print(sorted)
distancefiltred = distancefiltred.loc[sorted, sorted]
distancefiltred

285
<class 'int'>
4792
[105864, 150540, 278927, 158852, 266647, 140300, 267935, 228161, 150689, 258509, 159824, 328111, 211672, 153518, 228165, 256961, 272878, 302688, 333348, 294272, 447027, 426469, 361475, 357441, 379532, 371690, 306667, 285]

id,105864,150540,278927,158852,266647,140300,267935,228161,150689,258509,...,333348,294272,447027,426469,361475,357441,379532,371690,306667,285
movie_id,,,,,,,,,,,,,,,,,,,,,
105864,1.000000,0.023872,0.053974,0.000000,0.025019,0.031265,0.000000,0.014019,0.000000,0.000000,...,0.031238,0.016260,0.000000,0.000000,0.000000,0.031595,0.000000,0.042155,0.000000,0.000000
150540,0.023872,1.000000,0.005051,0.005406,0.011310,0.000000,0.004117,0.013444,0.004429,0.039793,...,0.017231,0.036274,0.033656,0.020403,0.018583,0.021914,0.000000,0.006855,0.019272,0.018860
278927,0.053974,0.005051,1.000000,0.000000,0.044258,0.082333,0.037491,0.009358,0.023145,0.100354,...,0.000000,0.097571,0.011376,0.000000,0.000000,0.000000,0.000000,0.019059,0.000000,0.000000
158852,0.000000,0.005406,0.000000,1.000000,0.056080,0.000000,0.000000,0.041856,0.000000,0.013841,...,0.000000,0.000000,0.000000,0.032336,0.031900,0.000000,0.030164,0.019086,0.014599,0.000000
266647,0.025019,0.011310,0.044258,0.056080,1.000000,0.000000,0.009194,0.008956,0.064962,0.012012,...,0.000000,0.026219,0.019201,0.085198,0.014297,0.000000,0.000000,0.053306,0.017181,0.051430
140300,0.031265,0.000000,0.082333,0.000000,0.000000,1.000000,0.024409,0.008537,0.000000,0.060924,...,0.020045,0.086530,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.023058,0.008271
267935,0.000000,0.004117,0.037491,0.000000,0.009194,0.024409,1.000000,0.006194,0.028184,0.035000,...,0.011277,0.059949,0.022316,0.010686,0.000000,0.000000,0.040298,0.000000,0.027530,0.000000
228161,0.014019,0.013444,0.009358,0.041856,0.008956,0.008537,0.006194,1.000000,0.007181,0.011505,...,0.000000,0.022346,0.022790,0.010531,0.000000,0.060898,0.000000,0.015307,0.056743,0.012580
150689,0.000000,0.004429,0.023145,0.000000,0.064962,0.000000,0.028184,0.007181,1.000000,0.000000,...,0.000000,0.050259,0.009975,0.020277,0.007785,0.000000,0.000000,0.012535,0.007261,0.000000
258509,0.000000,0.039793,0.100354,0.013841,0.012012,0.060924,0.035000,0.011505,0.000000,1.000000,...,0.047318,0.000000,0.023688,0.000000,0.000000,0.000000,0.000000,0.000000,0.037025,0.043241
159824,0.000000,0.035854,0.015594,0.000000,0.042618,0.018194,0.000000,0.003751,0.016214,0.013825,...,0.028770,0.072058,0.007429,0.101217,0.047819,0.000000,0.000000,0.050407,0.037716,0.010496
328111,0.020558,0.025009,0.047469,0.011015,0.004780,0.064809,0.000000,0.015599,0.000000,0.072885,...,0.000000,0.012783,0.000000,0.000000,0.005351,0.000000,0.000000,0.022447,0.010392,0.012810
211672,0.011288,0.018325,0.000000,0.068173,0.012636,0.000000,0.011972,0.000000,0.015527,0.040781,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.012326,0.000000,0.019183
153518,0.024223,0.023196,0.072225,0.000000,0.000000,0.040228,0.004859,0.000000,0.000000,0.049033,...,0.020376,0.030209,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.049356
228165,0.020438,0.026672,0.000000,0.035765,0.055109,0.000000,0.008165,0.010780,0.010589,0.041117,...,0.014476,0.051565,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.012719,0.066775
256961,0.000000,0.000000,0.000000,0.000000,0.009274,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.011672,0.000000,0.013163,0.000000,0.000000,0.000000,0.012278,0.031639
272878,0.000000,0.004928,0.008795,0.000000,0.011885,0.000000,0.007168,0.000000,0.000000,0.000000,...,0.042978,0.007942,0.011098,0.023629,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
302688,0.000000,0.006416,0.000000,0.000000,0.000000,0.120358,0.000000,0.000000,0.000000,0.000000,...,0.086316,0.010340,0.014448,0.030760,0.000000,0.000000,0.000000,0.000000,0.035641,0.000000
333348,0.031238,0.017231,0.000000,0.000000,0.000000,0.020045,0.011277,0.000000,0.000000,0.047318,...,1.000000,0.027770,0.038805,0.082617,0.039264,0.000000,0.000000,0.000000,0.000000,0.027598
294272,0.016260,0.036274,0.097571,0.000000,0.026219,0.086530,0.059949,0.022346,0.050259,0.000000,...,0.027770,1.000000,0.054241,0.118395,0.051878,0.000000,0.000000,0.102787,0.052736,0.000000
447027,0.000000,0.033656,0.011376,0.000000,0.019201,0.000000,0.022316,0.022790,0.009975,0.023688,...,0.038805,0.054241,1.000000,0.021335,0.056603,0.000000,0.046516,0.015438,0.116018,0.000000
426469,0.000000,0.020403,0.000000,0.032336,0.085198,0.000000,0.010686,0.010531,0.020277,0.000000,...,0.082617,0.118395,0.021335,1.000000,0.034864,0.000000,0.021934,0.105911,0.057369,0.000000
361475,0.000000,0.018583,0.000000,0.031900,0.014297,0.000000,0.000000,0.000000,0.007785,0.000000,...,0.039264,0.051878,0.056603,0.034864,1.000000,0.000000,0.000000,0.039940,0.040304,0.011049
357441,0.031595,0.021914,0.000000,0.000000,0.000000,0.000000,0.000000,0.060898,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
379532,0.000000,0.000000,0.000000,0.030164,0.000000,0.000000,0.040298,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.046516,0.021934,0.000000,0.000000,1.000000,0.000000,0.101586,0.000000
371690,0.042155,0.006855,0.019059,0.019086,0.053306,0.000000,0.000000,0.015307,0.012535,0.000000,...,0.000000,0.102787,0.015438,0.105911,0.039940,0.000000,0.000000,1.000000,0.037253,0.024245
306667,0.000000,0.019272,0.000000,0.014599,0.017181,0.023058,0.027530,0.056743,0.007261,0.037025,...,0.000000,0.052736,0.116018,0.057369,0.040304,0.000000,0.101586,0.037253,1.000000,0.010306
285,0.000000,0.018860,0.000000,0.000000,0.051430,0.008271,0.000000,0.012580,0.000000,0.043241,...,0.027598,0.000000,0.000000,0.000000,0.011049,0.000000,0.000000,0.024245,0.010306,1.000000

In [ ]:
print(moviesfiltred['year'][moviesfiltred['id']==380097])
print(len(moviesfiltred))
moviesfiltred.drop(moviesfiltred[moviesfiltred['year'] == 'нет данных о годе'].index, inplace=True)
print(len(moviesfiltred))
moviesfiltred=moviesfiltred[moviesfiltred['year'].astype(int)>=2016]
sorted=moviesfiltred['id'].tolist()
#sorted=moviesfiltred.index.tolist()
print(len(sorted))

In [116]:
def sublist_in_list(sub, lis):
    return str(sub).strip('[]') in str(lis).strip('[]')
    
sublist_in_list(sorted, distancefiltred.index) # Входит ли list_1 в list_2 ?

False